@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadScripts{
    @*<script src="~/Scripts/pages/home.js"></script>*@
}

<p>Animal: <input id="animal"/></p> 

<button>Foo</button> | <button>Bar</button>
<h3>Kendo grid</h3>
<div id="grid"></div>

